/********** Template CSS **********/
:root {
    --primary: #3d3f3f;
    --light: #F0FBFC;
    --dark: #181d38;
}


.container-fluid {
    min-height: 10vh; /* Initially set minimum height to 100vh */
  }
  
  /* Set height to auto when scrolled */
  .container-fluid.scrolled {
    height: auto;
  }



.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

